
# CONF_VERSION is increased each time build/conf/ changes incompatibly and is used to
# track the version of this file when it was generated. This can safely be ignored if
# this doesn't mean anything to you.
CONF_VERSION = "2"


MACHINE ??= "v3000"
LICENSE_FLAGS_ACCEPTED += "commercial"
USER_CLASSES ?= "buildstats "
DL_DIR ?= "${TOPDIR}/downloads"
DISTRO ?= "poky-amd"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks tools-testapps tools-sdk "

# By default disable interactive patch resolution (tasks will just fail instead):
PATCHRESOLVE = "noop"

# CONF_VERSION is increased each time build/conf/ changes incompatibly and is used to
# track the version of this file when it was generated. This can safely be ignored if
# this doesn't mean anything to you.
CONF_VERSION = "2"
IMAGE_INSTALL:append = " semaec4.0"

IMAGE_FSTYPES = ".iso"
